/* styling for cards in spymaster view */

.is-spymaster {
	.blue-card { background-color: $blue; }
	.red-card { background-color: $red; }
	.black-card { background-color: $black; }
	.white-card { background-color: $beige; }
}