/* line 13, ../scss/_global.scss */
body {
  background-color: #fff;
  margin: 0;
}

@keyframes toggleBgColor {
  0% {
    background-color: antiquewhite;
  }
  10% {
    background-color: #5C6BC0;
  }
  35% {
    background-color: #E53935;
  }
  60% {
    background-color: #ffefce;
  }
  85% {
    background-color: #302c2c;
  }
  100% {
    background-color: antiquewhite;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
/* line 1, ../scss/_header.scss */
header {
  position: relative;
  padding: 0 15px 20px;
  margin-bottom: 15px;
  background-color: #607D8B;
}
/* line 8, ../scss/_header.scss */
header .app-title {
  margin: 0;
  padding: 20px 0 10px;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  text-align: center;
}
/* line 16, ../scss/_header.scss */
header .controls {
  text-align: center;
}
/* line 20, ../scss/_header.scss */
header .scoreboard {
  margin-top: 12px;
  text-align: center;
}
/* line 24, ../scss/_header.scss */
header .scoreboard .score {
  display: inline-block;
  width: 120px;
  background-color: #fff;
}
/* line 29, ../scss/_header.scss */
header .scoreboard .score h3 {
  padding: 8px 0;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
}
/* line 37, ../scss/_header.scss */
header .scoreboard .score p {
  margin: 8px 0;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}
/* line 43, ../scss/_header.scss */
header .scoreboard .score .team-red {
  background-color: #E53935;
}
/* line 44, ../scss/_header.scss */
header .scoreboard .score .team-blue {
  background-color: #5C6BC0;
}
/* line 48, ../scss/_header.scss */
header input {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  outline: none;
}
/* line 54, ../scss/_header.scss */
header button {
  color: #fff;
  font-size: 12px;
  text-transform: lowercase;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
}
@media (min-width: 480px) {
  /* line 64, ../scss/_header.scss */
  header input, header button {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  /* line 71, ../scss/_header.scss */
  header .app-title {
    text-align: left;
  }
  /* line 75, ../scss/_header.scss */
  header .controls {
    text-align: left;
  }
  /* line 79, ../scss/_header.scss */
  header .scoreboard {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 15px 20px 0;
  }
  /* line 86, ../scss/_header.scss */
  header input, header button {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 95, ../scss/_header.scss */
  header .scoreboard {
    margin: 30px 15px 20px 0;
  }
  /* line 101, ../scss/_header.scss */
  header .score h3 {
    font-size: 20px;
  }
  /* line 105, ../scss/_header.scss */
  header .score p {
    font-size: 20px;
  }
  /* line 108, ../scss/_header.scss */
  header button {
    padding: 6px 12px;
    font-size: 20px;
  }
  /* line 113, ../scss/_header.scss */
  header input {
    font-size: 20px;
  }
}

/* line 1, ../scss/_deck.scss */
.card-container {
  padding: 0 15px;
}
/* line 4, ../scss/_deck.scss */
.card-container .col {
  display: inline-block;
  width: 45%;
  margin: 6px 2.5% 10px;
}
@media (min-width: 768px) {
  /* line 11, ../scss/_deck.scss */
  .card-container .col {
    width: 30%;
    margin: 8px 1.5% 12px;
  }
}
@media (min-width: 998px) {
  /* line 18, ../scss/_deck.scss */
  .card-container .col {
    width: 22%;
  }
}
@media (min-width: 1200px) {
  /* line 24, ../scss/_deck.scss */
  .card-container .col {
    width: 17%;
  }
}
@media (min-width: 1400px) {
  /* line 30, ../scss/_deck.scss */
  .card-container .col {
    margin: 0.5% 1.5%;
  }
}

/* line 1, ../scss/_card.scss */
.card {
  padding: 10px;
  border-top: 1px solid #E0E0E0;
  border-radius: 15px;
  transition: all 0.25s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0;
}
/* line 9, ../scss/_card.scss */
.card .card-word {
  padding: 8px 0;
  text-align: center;
  text-transform: lowercase;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
/* line 18, ../scss/_card.scss */
.card:hover {
  cursor: pointer;
  z-index: 1000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 10px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 10px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 10px 2px;
}
@media (min-width: 480px) {
  /* line 26, ../scss/_card.scss */
  .card .card-word {
    padding: 14px 0;
  }
}
@media (min-width: 768px) {
  /* line 32, ../scss/_card.scss */
  .card .card-word {
    padding: 20px 0;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 39, ../scss/_card.scss */
  .card .card-word {
    padding: 2.5px 0;
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  /* line 46, ../scss/_card.scss */
  .card .card-word {
    font-size: 36px;
    padding: 8% 0;
  }
}

/* line 53, ../scss/_card.scss */
.has-been-selected {
  pointer-events: none;
}
/* line 57, ../scss/_card.scss */
.has-been-selected:hover {
  animation: none;
}
/* line 60, ../scss/_card.scss */
.has-been-selected.blue-card {
  background-color: #5C6BC0;
}
/* line 61, ../scss/_card.scss */
.has-been-selected.red-card {
  background-color: #E53935;
}
/* line 62, ../scss/_card.scss */
.has-been-selected.black-card {
  background-color: #302c2c;
}
/* line 65, ../scss/_card.scss */
.has-been-selected.black-card .card-word {
  color: #fff;
}
/* line 69, ../scss/_card.scss */
.has-been-selected.white-card {
  background-color: #ffefce;
}

/* styling for cards in spymaster view */
/* line 7, ../scss/_spymaster.scss */
.is-spymaster .blue-card .card-word,
.is-spymaster .red-card .card-word,
.is-spymaster .black-card .card-word {
  color: #fff;
}
/* line 12, ../scss/_spymaster.scss */
.is-spymaster .blue-card {
  background-color: #5C6BC0;
}
/* line 13, ../scss/_spymaster.scss */
.is-spymaster .red-card {
  background-color: #E53935;
}
/* line 14, ../scss/_spymaster.scss */
.is-spymaster .black-card {
  background-color: #302c2c;
}
/* line 15, ../scss/_spymaster.scss */
.is-spymaster .white-card {
  background-color: #ffefce;
}
/* line 17, ../scss/_spymaster.scss */
.is-spymaster .has-been-selected {
  pointer-events: auto;
  opacity: 0.4;
}
/* line 23, ../scss/_spymaster.scss */
.is-spymaster .card:hover {
  animation: none;
}
